@media (min-width:992px){
	#navbar_menu ul ul{
		background:#ddd
}
}
@media (min-width:992px) and (max-width:1199px){
	.container{
		width:980px;
		max-width:980px
}
	body{
		overflow-x:hidden
}
	.header_top ul li{
		font-size:13px;
		color:#fff;
		float:left
}
	.header_top{
		min-height:auto
}
	#full_slider.full_slider_inner{
		position:relative;
		z-index:0;
		min-height:auto
}
	.responsive_padding_bottom{
		padding-bottom:60px
}
	.margin_bottom_30{
		margin-bottom:30px
}
	.margin_bottom_20{
		margin-bottom:20px
}
	.full.sm_center img{
		width:100%
}
	.price_no{
		font-size:35px
}
	.info_cont h4{
		margin:0;
		font-size:16px
}
	body.home_page_2 .logo img{
		max-width:100%
}
	.header_bottom .info_cont h4{
		font-size:11px
}
	.header_bottom .info_cont p{
		font-size:13px
}
	.header_bottom .margin_bottom_30{
		margin-bottom:0
}
	.header_style_4 .header_bottom{
		float:left
}
	.home_page_4 #full_slider.full_slider_inner{
		min-height:680px
}
	.full img{
		max-width:100%
}
	.bottom_footer,.light_silver,footer,header .header_bottom,header .header_top,section{
		float:left;
		width:100%
}
	.footer_mail-section .field{
		padding:0;
		display:flex
}
	.right_section_header_top div.social_icon{
		display:none
}
	.product_list{
		min-height:auto;
		transition:ease all .5s;
		padding-bottom:25px
}
}
@media (max-width:991px){
	#navbar_menu>ul>li>a{
		padding:16px 14px;
		padding-right:14px
}
	.menu_side{
		margin:0
}
	.main_menu,.menu_side{
		float:right;
		width:100%
}
	.menu_icon{
		float:left;
		padding:0;
		position:absolute;
		top:-58px;
		right:15px;
		display:none
}
	.first-ul li i{
		display:none
}
	.search_icon{
		float:left;
		margin:0 25px 0 0;
		position:absolute;
		right:0;
		top:-67px
}
	.search_icon ul li{
		float:left;
		font-size:25px
}
}
@media (min-width:768px) and (max-width:991px){
	img{
		max-width:100%
}
	body{
		overflow-x:hidden
}
	.container{
		width:750px;
		max-width:750px
}
	.header_top ul{
		margin:0;
		width:100%;
		justify-content:center;
		display:flex
}
	.right_section_header_top .social_icon{
		display:none
}
	.header_top{
		padding:10px 0
}
	.logo{
		float:left;
		margin:15px 0;
		position:relative;
		left:0;
		width:100%;
		text-align:center
}
	.menu_side{
		float:right;
		width:100%
}
	header .icon_bottom{
		margin-right:10px
}
	header .header_bottom .info_cont h4{
		font-size:12px;
		font-weight:500
}
	.header_top .col-xs-12{
		float:left;
		width:100%;
		max-width:100%;
		flex:inherit
}
	#search_bar .search-global__input{
		padding:0 70px 23px 0!important;
		font-size:50px
}
	.header_bottom{
		min-height:90px
}
	.header_style_2 .search_icon{
		float:left;
		margin:0 25px 0 21px;
		top:15px
}
	#full_slider.full_slider_inner{
		position:relative;
		z-index:0;
		min-height:auto
}
	a.btn,button.btn{
		min-width:150px;
		height:45px;
		line-height:46px;
		font-size:13px
}
	.responsive_padding_bottom{
		padding-bottom:60px
}
	.sm_center{
		text-align:center
}
	.product_detail_btm{
		padding:15px 0 25px
}
	.product_detail_btm h4{
		margin:20px 0 10px 0;
		text-align:center;
		font-size:15px
}
	.product_list{
		min-height:auto
}
	.footer_mail-section .field{
		padding:0;
		display:flex
}
	.margin_bottom_30{
		margin-bottom:30px
}
	.margin_bottom_20{
		margin-bottom:20px
}
	.padding_layout_1{
		padding-top:90px;
		padding-bottom:60px
}
	.main_heading{
		margin-bottom:20px
}
	h2{
		font-size:25px;
		line-height:30px;
		margin-bottom:20px
}
	p{
		font-size:13px
}
	.left_top{
		left:60px
}
	.right_top{
		right:60px
}
	.responsive_center{
		width:100%;
		display:flex;
		justify-content:center
}
	.responsive_center button{
		float:right
}
	#accordion .panel.panel-default .panel-heading{
		float:left;
		margin-bottom:15px;
		width:100%
}
	.panel-collapse{
		float:left;
		width:100%
}
	#accordion .panel.panel-default .panel-body{
		padding:0 10px;
		margin:0 0 20px 0
}
	.price_head h5{
		font-size:22px;
		font-weight:600;
		line-height:normal;
		margin-bottom:5px
}
	.price_no{
		font-size:28px
}
	.price_icon{
		float:left;
		width:150px;
		height:150px
}
	.info_cont h4{
		margin:0;
		font-size:15px
}
	.bottom_menu ul{
		display:flex;
		justify-content:center
}
	.footer_menu{
		padding-left:0
}
	.header_style_4 .header_bottom{
		min-height:92px;
		background:#fff;
		padding:0 30px 0 20px;
		float:left;
		width:100%;
		margin-top:15px
}
	.home_page_4 #full_slider.full_slider_inner{
		min-height:640px
}
	.sm-center{
		text-align:center
}
	.center{
		align-items:center
}
	.bottom_footer,.light_silver,footer,header .header_bottom,header .header_top,section{
		float:left;
		width:100%
}
	.hidden-sm{
		display:none
}
	.price_cont p{
		padding-bottom:12px;
		font-size:14px;
		line-height:normal
}
}
@media (max-width:767px){
	body{
		overflow-x:hidden
}
	.center{
		align-items:center
}
	.center img{
		max-width:100%
}
	.container{
		width:100%;
		max-width:100%;
		padding:0 15px
}
	.header_top ul{
		display:flex;
		justify-content:center;
		width:100%
}
	.header_top ul li{
		margin:0;
		font-size:14px;
		width:50%;
		text-align:center
}
	.logo{
		float:left;
		margin:20px 0 20px;
		position:relative;
		left:0;
		width:100%;
		text-align:center
}
	.header_bottom{
		min-height:auto
}
	#full_slider.full_slider_inner{
		position:relative;
		z-index:0;
		min-height:320px
}
	body div.home_page_5 #full_slider.full_slider_inner{
		height:100vh
}
	.padding_layout_1{
		padding-top:75px;
		padding-bottom:60px
}
	.testmonial_section{
		padding-bottom:135px!important
}
	.testimonial-meta h4{
		margin:5px 0
}
	#testimonial_slider .testimonial-meta{
		margin-top:75px
}
	.margin_bottom_30{
		margin-bottom:30px
}
	.margin_bottom_20{
		margin-bottom:20px
}
	h2{
		font-size:28px;
		line-height:28px;
		margin-bottom:20px
}
	h4{
		font-size:16px
}
	.padding_75{
		padding:40px 20px
}
	.list_style_1 li{
		position:relative;
		padding:0 0 10px 25px
}
	.list_style_1 li i{
		position:absolute;
		left:0;
		top:0
}
	.full img{
		max-width:100%
}
	p.large{
		font-size:18px;
		line-height:24px
}
	#accordion .panel.panel-default .panel-heading{
		float:left;
		margin-bottom:15px;
		width:100%
}
	.panel-collapse{
		float:left;
		width:100%
}
	#accordion .panel.panel-default .panel-body{
		padding:0 10px;
		margin:0 0 20px 0
}
	.price_no{
		font-size:35px
}
	.footer_menu{
		padding-left:0
}
	.footer_menu_ul{
		font-size:13px
}
	.bottom_menu{
		margin-bottom:10px;
		float:left;
		width:100%
}
	.bottom_menu{
		font-size:13px
}
	.responsive_center{
		width:100%;
		display:flex;
		justify-content:center
}
	.responsive_padding_bottom{
		padding-bottom:60px
}
	.counter .counter-count{
		margin-bottom:20px
}
	.testimonial_slider_2 .testimonial_inner img{
		margin-bottom:15px
}
	.brand_icons li{
		float:left;
		width:46%;
		margin-bottom:15px;
		margin-left:2%;
		margin-right:2%;
		min-height:50px
}
	.side_bar{
		margin-top:35px
}
	.blog_section{
		margin-bottom:25px;
		float:left;
		width:100%
}
	.info_cont{
		float:left;
		padding:4px 0;
		width:100%;
		margin-bottom:15px
}
	.padding_layout_2{
		padding-top:50px;
		padding-bottom:50px
}
	.main_bg .search_icon ul li a{
		color:#000
}
	.header_style_2 .search_icon{
		float:left;
		margin:0 20px 0 0
}
	.main_bg #navbar_menu>ul>li>a{
		color:#000
}
	.main_bg{
		margin-top:0;
		min-height:auto;
		position:relative
}
	#navbar_menu li:hover>ul>li{
		background:0 0
}
	.header_style_4 .header_bottom{
		min-height:auto;
		background:#fff;
		padding:0 10px 0 10px;
		float:left;
		width:100%
}
	.header_style_4 .header_bottom{
		padding:0
}
	.header_style_4 .search_icon{
		margin:0 30px 0;
		top:-67px
}
	.home_page_4 #full_slider.full_slider_inner{
		min-height:485px
}
	.mobile_icon{
		margin:35px 0
}
	.footer_style_2 .footer_logo{
		text-align:center;
		width:100%
}
	.footer_top .social_icon{
		width:100%;
		display:flex;
		justify-content:center
}
	.footer_top{
		border-bottom:solid #e1e1e1 1px;
		padding-bottom:40px;
		padding-top:0;
		margin-bottom:40px
}
	.bottom_footer{
		padding:20px 0
}
	.testimonial_slider{
		box-shadow:0 0 50px -30px rgba(0,0,0,.5);
		width:94%;
		margin:0 3% 35px
}
	.left_bottom{
		position:relative;
		bottom:0;
		left:0
}
	.left_top{
		position:relative;
		bottom:0;
		left:0
}
	.right_top{
		position:relative;
		bottom:0;
		right:0
}
	.right_bottom{
		position:relative;
		bottom:0;
		right:0
}
	.hidden-xs{
		display:none
}
	.gross_layout::before{
		display:none
}
	.gross_layout::after{
		display:none
}
	.counter .text_align_right{
		text-align:center
}
	.counter-count{
		text-align:center
}
	.main_heading.text_align_right::after{
		margin-right:auto
}
	.main_heading.text_align_left::after{
		margin-left:auto
}
	.main_heading.text_align_left,.main_heading.text_align_right{
		text-align:center
}
	.service_blog{
		margin-bottom:30px
}
	#testimonial_slider{
		padding-right:0
}
	#testimonial_slider .testimonial-container{
		position:relative;
		padding-left:0;
		padding-bottom:25px
}
	.testimonial-container .testimonial-photo{
		float:left;
		position:relative;
		top:0;
		left:0;
		overflow:hidden;
		margin-right:15px;
		margin-top:25px
}
	.contact_us_section{
		padding:40px 50px;
		margin-top:20px;
		float:left;
		width:100%
}
	.contact_us_section{
		padding:25px 20px;
		float:left;
		width:100%;
		position:relative
}
	#map{
		height:100%;
		min-height:180px;
		z-index:1
}
	.brand_list li{
		float:left;
		width:100%;
		text-align:center;
		background:#f6f6f6;
		padding:30px 0;
		margin:0 0 20px
}
	.contact_us_section .inner_cont{
		float:left;
		width:100%;
		padding-left:25px
}
	.contact_us_section .call_icon{
		float:left;
		width:18px;
		position:absolute;
		top:35px
}
	.contact_us_section .button_Section_cont{
		width:100%;
		float:right;
		display:flex;
		justify-content:center
}
	.contact_us_section h2{
		margin:8px 0 5px 0;
		font-size:27px;
		font-weight:700;
		color:#fff
}
	.contact_us_section .inner_cont{
		margin-bottom:10px
}
	.product-heading h2{
		font-size:24px;
		padding-bottom:15px;
		margin:35px 0 0
}
	.shopping-cart-cart{
		max-width:100%;
		width:100%;
		margin-top:25px
}
	.page-title{
		font-size:28px;
		margin-bottom:5px
}
	.map_section{
		float:right;
		width:100%
}
	.footer_blog{
		float:left;
		width:100%;
		padding:50px 40px 110px 40px
}
}
@media (max-width:574px){
	.header_top ul{
		display:block
}
	.header_top ul li{
		width:100%
}
	.logo img{
		width:150px
}
	#search_bar .search-global__input{
		font-size:21px;
		font-weight:500;
		line-height:normal;
		letter-spacing:0
}
	#search_bar .search-global__btn{
		position:absolute;
		top:0;
		right:0;
		font-size:25px;
		color:#fff;
		border:none;
		background-color:transparent;
		transition:all .3s
}
	#search_bar .search-global__input{
		font-size:21px;
		font-weight:500;
		line-height:normal;
		letter-spacing:0;
		padding:3px 35px 20px 0!important
}
	a.btn,button.btn{
		min-width:140px;
		height:45px;
		line-height:46px;
		font-size:13px;
		font-weight:500
}
	.footer_menu_ul{
		float:left;
		width:100%
}
	.testimonial_inner{
		float:left;
		padding:40px 25px;
		background:#fff
}
	.testimonial_slider_2 .testimonial_inner{
		margin-bottom:25px
}
	.xs-hidden{
		display:none!important
}
}
@media (min-width:575px) and (max-width:767px){
	.header_top ul li{
		text-align:left
}
	.header_top ul li+li{
		text-align:right
}
	.topbar-left{
		width:100%
}
	.header_top .social_icon ul li{
		margin-right:10px
}
	.search_icon{
		top:-74px
}
	.responsive_padding_bottom{
		padding-bottom:0
}
	.testimonial_slider_2 .testimonial_inner{
		margin-bottom:25px
}
	.xs-hidden{
		display:none!important
}
	#search_bar .search-global__input{
		padding:5px 70px 10px 0!important;
		font-size:40px
}
	.testmonial_section .col-sm-7{
		width:100%;
		max-width:100%;
		flex:100%
}
}
@media (min-width:575px) and (max-width:767px){
	#search_bar .modal-body .col-md-8{
		max-width:90%;
		float:initial;
		margin:0 5%
}
	.product_list{
		min-height:auto;
		padding-bottom:30px
}
	.service_blog_inner .text_align_left{
		text-align:center
}
	.service_blog_inner h4.service-heading{
		text-align:center
}
	.service_blog_inner p{
		text-align:center
}
}
@media (max-width:574px){
	.right_section_header_top div.float-left{
		display:none
}
	.right_section_header_top .float-right{
		width:100%;
		display:flex;
		justify-content:center;
		margin-bottom:15px
}
	.make_appo{
		float:right;
		margin-top:5px
}
	.logo img{
		height:auto
}
	#search_bar .search-global{
		position:absolute;
		top:50vh;
		margin-top:-122px;
		width:80%
}
	.topbar-left{
		width:100%
}
	.product_list{
		min-height:auto;
		padding-bottom:30px;
		transition:ease all .5s
}
	.service_blog_inner .text_align_left{
		text-align:center
}
	.service_blog_inner h4.service-heading{
		text-align:center
}
	.service_blog_inner p{
		text-align:center
}
	footer.footer_style_2 div.col-md-3{
		margin-bottom:50px
}
}
